<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
			<parameter name="email" value="britto@gmail.com"></parameter>
			<parameter name="password" value="joseph"></parameter>
		<classes>
			<class name="greenExcercise.GreenExcerciseAfterEX10" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
